.pokedex-background {
  background-color: white;
}

.pokedex {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

@media (max-width: 800px) {
  .pokedex {
    grid-template-columns: 1fr;
  }
}