.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header-nav a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.header-nav a::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background-color: #FBC418;
    transition: width 0.5s;
}

.header-nav a:hover::after {
    width: 100%;
}

.header-nav a:hover {
    color: #FBC418;
}

@media (max-width: 500px) {
    .header {
        display: grid;
        justify-content: center;
        justify-items: center;
    } 

}