.introduction {
    position: relative;
    overflow: hidden;
}

.background {
    height: 706px;
    width: 100%;
    background-image: url('../../img/bg-red.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.5s;
}



.fade { 
animation: anima-fundo 20s ease 1s infinite alternate;
-webkit-animation: anima-fundo 20s ease 1s infinite alternate;
-moz-animation: anima-fundo 20s ease 1s infinite alternate;
transition: 3s all;
-webkit-transition: 3s all;
-moz-transition: 3s all; 
}

@keyframes anima-fundo {
  0%   { background-position: 50% 50%; }
  50%  { background-position: 50.2% 50.2%; }
  100% { background-position: 50% 50%; }
}

@-webkit-keyframes anima-fundo {
   0%   { background-position: 50% 50% }
   25%  { background-position: 55% 55% }
   50%  { background-position: 60% 45% }
   75%  { background-position: 40% 30% }
   100% { background-position: 60% 40% }
}

@-moz-keyframes anima-fundo {
   0%   { background-position: 50% 50% }
   25%  { background-position: 55% 55% }
   50%  { background-position: 60% 45% }
   75%  { background-position: 40% 30% }
   100% { background-position: 60% 40% }
}

.fade-img {
    animation: flutuar 5s ease-in-out infinite;
    will-change: transform;
    transition: opacity 0.8s ease-in-out;
}

@keyframes flutuar {
    50% {
         transform: translate(-50%, -51%);
    }
    100% {
         transform: translate(-50%, -50%);
    }
}

.introduction-text {
    display: grid;
    justify-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    padding: 0px 20px;
    text-align: center;
}

.introduction-text-span {
    background-color: white;
    color: #d60000;
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.introduction-text h1 {
    margin-top: 15px;
    color: white;
    font-size: 4rem;
}

.introduction-text p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 20px;
}
.introduction-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
}
.introduction-light {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.introduction-pokebola {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.poke-ativo {
    display: none;
}


.introduction-light {
    z-index: 8;
}

.introduction-pokebola {
    z-index: 7;
}

.background-select {
    background-color: #e7e7e7;
    padding: 120px 30px;
}

.select {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.select-text {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.select h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2F3133;
    font-size: 2rem;
    font-weight: 600;
    overflow-wrap: break-word;
}

.select-search {
    justify-self: end;
    position: relative;
    z-index: 10;
}

.select-search input {
    padding: 20px 20px;
    width: 350px;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.select-search input:focus {
    outline: none;
    border: 0px solid #EFF3F6;
}

.select-search input::placeholder {
    color: rgb(179, 178, 178);
}

.select-search button {
    position: absolute;
    right: 15px;
    top: 9px;
    background-color: #EFF3F6;
    padding: 10px 13px;
    border-radius: 50px;
}

.select-search button:hover {
    background-color: #d8d8d8;
}

.select-search button img {
    width: 20px;
    height: 20px;
}

@media (max-width: 750px){
    .select {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 30px;
    }
    .select-text {
        width: auto;
        margin-top: 50px;
        text-align: center;
    }
    .select-search {
        justify-self: center;
    }
    .introduction-light {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .introduction-pokebola {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}



@media (max-width: 600px) {
    .introduction-text h1{
        font-size: 3rem;
    } 

}
@media (max-width: 450px) {
    .select-search input {
        width: 100%;
        box-sizing: border-box;
        justify-self: center;
    }
}

@media (max-width: 350px) {
    .introduction-text h1{
        font-size: 2.5rem;
    } 

}